<h1>
  Dice Rolls
</h1>

<dl>
  <dt>
   Dice Rolls
  </dt>
 
<% @dice_array.each do |roll| %>
  <dd>
    <%= roll %>
  </dd>
<%end%>


<a href="/<%=@number_of_dice %>/<%= @number_of_sides %>new">
  Roll Again
</a>
