<form action="/dice_results">
  <div>
    <label for="min_input">
      Number of Dice
    </label>

    <input id="min_input" text="text" name="count" placeholder="E.g. 1">
  </div>

  <div>
    <label for="max_input">
      Number of Sides
    </label>

    <input id="max_input" text="text" name="dice" placeholder="E.g. 4">
  </div>

  <button>
   Roll Em!
  </button>
</form>
